.home_category{
    border: 2px solid white;
    margin: 1rem;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem; 
}
.home_category:hover{
    transition: 0.3s ease-in-out;
    background:white;
    color:black;
    border: 2px solid #3074f0;
    transform: scale(1.05);
    box-shadow: 1px 6px 10px -1px rgb(116,116,116);
}